extends events

block single_events
    div.event-container
        div.col-lg-12.event-inner-container
            div.row
                div.single-event-image

            div.event-content-container
                div.row
                    p(style="font-size:48px; font-weight:800") site.events.name
                    p(style="margin-top:-30px") EVENT.SPARKSC.ORG

                div.row
                    div.bar

                div.row
                    div.col-md-7
                        div.row
                            p DATE: Month Day, Year
                            p ATTENDANCE: ### Students, ## Thing, # Thing

                    div.col-md-1

                    div.col-md-4
                        div.row.goals
                            p.yellow GOAL
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a efficitur augue, at convallis ante. Suspendisse interdum dictum dictum. Donec et massa nibh. Curabitur a vulputate magna.

                div.row
                    div.col-md-7
                        div.row
                            p(style="font-weight:700; font-style:italic;") EVENT DESCRIPTION

                            div.desciption
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a efficitur augue, at convallis ante. Suspendisse interdum dictum dictum. Donec et massa nibh. Curabitur a vulputate magna.
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a efficitur augue, at convallis ante. Suspendisse interdum dictum dictum. Donec et massa nibh. Curabitur a vulputate magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a efficitur augue, at convallis ante. Suspendisse interdum dictum dictum. Donec et massa nibh. Curabitur a vulputate magna.
                    div.col-md-1

                    div.col-md-4
                        div.row
                            p.yellow THE COMMITTEE
                            p Lead
                        div.row
                            div.committee-photos
                                div.row
                                    div.col-xs-3.member-photo
                                    div.col-xs-3.member-photo
                                    div.col-xs-3.member-photo
                                div.row
                                    div.col-xs-4.member-photo
                                    div.col-xs-4.member-photo
                                    div.col-xs-4.member-photo

                div.row
                    div.col-md-7
                        div.row
                            p.yellow Our Partners and Sponsors

                        div.row
                            div.partners
                                img.partner-logo(src="https://www.facebook.com/images/fb_icon_325x325.png")
                                img.partner-logo(src="https://www.facebook.com/images/fb_icon_325x325.png")
                                img.partner-logo(src="https://www.facebook.com/images/fb_icon_325x325.png")
                                img.partner-logo(src="https://www.facebook.com/images/fb_icon_325x325.png")

                    div.col-md-1

                    div.col-md-4
                        p.yellow PRESS
                        div.col-xs-6.col-md-12(style="width:auto")
                            p LINKLINKLINKLINKLINKLINKLINK
                        div.col-xs-6.col-md-12(style="width:auto")
                            p LINKLINKLINKLINKLINKLINKLINK

            div.row
                div.col-sm-6(style="padding:0px")
                    div.bottom-image(style="background-image:url('https://scontent-lax1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11150566_646380472162706_1814774578523370787_n.jpg?oh=868a0c045164ad3a9874bd736d83fb75&oe=55FF303E')")
                div.col-sm-6(style="padding:0px")
                    div.bottom-image(style="background-image:url('http://viterbivoices.usc.edu/wp-content/uploads/2014/12/Closing2.jpg?w=498')")

            div.row(style="background-color:black")
                div.col-xs-6
                    div.letterhead
                        img.sparksc-letterhead(src='img/letterhead.svg')
                div.col-xs-6
                    div.social-icons
                        a(href='https://facebook.com/gosparksc' target='_blank')
                            img.social-icon(src='img/sm/facebook.svg' alt='facebook')
                        a(href='https://twitter.com/gosparksc' target='_blank')
                            img.social-icon(src='img/sm/twitter.svg' alt='twitter')
                        a(href='https://instagram.com/gosparksc' target='_blank')
                            img.social-icon(src='img/sm/instagram.svg' alt='instagram')
