extends layout

block content
    div#content.content
        div.container.events
            div.row
                div.col-md-6.gutter
                    div.test
                        p.event-name STARTUP CAREER FAIR
                        img.event-image(src="http://linzhouweb.com/wp-content/uploads/2015/114223-cute-cats-and-kittens.jpg")

                div.col-md-3.gutter
                    div.test
                        p.event-name COMMUNITY SERVICE
                        img.event-image(src="http://www.lovethispic.com/uploaded_images/71079-Cute-Kittens.jpg")

                div.col-md-3.gutter
                    div.test
                        p.event-name ARTS GROOVES AND FOODS
                        img.event-image(src="http://cdn.newadnetwork.com/sites/prod/files/styles/gallery/public/article/top-10-cutest-kitten-gif-we-opened-pandoras-box.56091.jpg")

            div.row
                div.col-md-3.gutter
                    div.test
                        p.event-name HACK NIGHTS
                        img.event-image(src="http://www.petportraits.org/cats/cat123_2005_bob_tabby_white_ofb_400w.jpg")

                div.col-md-3.gutter
                    div.test
                        p.event-name MEET-N-MIX
                        img.event-image(src="http://www.engagesciences.com/wp-content/uploads/2014/04/CATS-SELFIES-5-600x399.jpg")

                div.col-md-6.gutter
                    div.test
                        p.event-name 1000 PITCHES
                        div.event-image.1000-pitches

            div.row
                div.col-md-6.gutter
                    div.test
                        p.event-name TECHLA INTERNSHIPS
                        img.event-image(src="http://colourfulrebel.com/en/wp-content/uploads/2015/06/Cute-Kittens-1-Wallpaper-HD.jpg")

                div.col-md-3.gutter
                    div.test
                        p.event-name TECH TOURS
                        img.event-image(src="http://img2.wikia.nocookie.net/__cb20080410164923/uncyclopedia/images/0/0a/Cute_kitten.p.jpg")

                div.col-md-3.gutter
                    div.test
                        img.event-image(src="http://images2.fanpop.com/image/photos/9800000/-Getting-Up-To-Mischief-cute-kittens-9820830-1024-768.jpg")
