extends layout

block links
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")

block content
    div#content.content
        div.container.events
            div.row
                div.col-lg-6.gutter
                    div.test
                        p.event-name
                        img.event-image(src="http://linzhouweb.com/wp-content/uploads/2015/114223-cute-cats-and-kittens.jpg")

                div.col-lg-3.gutter
                    div.test
                        img.event-image(src="http://www.lovethispic.com/uploaded_images/71079-Cute-Kittens.jpg")

                div.col-lg-3.gutter
                    div.test
                        img.event-image(src="http://cdn.newadnetwork.com/sites/prod/files/styles/gallery/public/article/top-10-cutest-kitten-gif-we-opened-pandoras-box.56091.jpg")

            div.row
                div.col-lg-3.gutter
                    div.test
                        img.event-image(src="http://www.petportraits.org/cats/cat123_2005_bob_tabby_white_ofb_400w.jpg")

                div.col-lg-3.gutter
                    div.test
                        img.event-image(src="http://www.engagesciences.com/wp-content/uploads/2014/04/CATS-SELFIES-5-600x399.jpg")

                div.col-lg-6.gutter
                    div.test
                        img.event-image(src="http://25.media.tumblr.com/8bc6fed657258516114a076e8d18025d/tumblr_myyraecT2n1r238sko1_500.jpg")

            div.row
                div.col-lg-6.gutter
                    div.test
                        img.event-image(src="http://colourfulrebel.com/en/wp-content/uploads/2015/06/Cute-Kittens-1-Wallpaper-HD.jpg")

                div.col-lg-3.gutter
                    div.test
                        img.event-image(src="http://img2.wikia.nocookie.net/__cb20080410164923/uncyclopedia/images/0/0a/Cute_kitten.p.jpg")

                div.col-lg-3.gutter
                    div.test
                        img.event-image(src="http://images2.fanpop.com/image/photos/9800000/-Getting-Up-To-Mischief-cute-kittens-9820830-1024-768.jpg")
