extends layout

block stylesheet
    link(rel='stylesheet' href='/css/events.css')

block content
    div.container.events
        for event in site.events
            div(class= 'col-md-#{event.width} gutter')
                div.event
                    a(href='/events/1000-pitches.html')
                        div.name #{event.name}
                        div.image
                    
    div.event-info
        div#event-page.event-page
            div.event-page-close
                a(href='/events.html') &#10006;
            block event-page-content

block javascript
    script(type='text/javascript' src='/js/events.js')
