extends layout

block content
    div#content.content
        div.container.events
            for event in site.events
                div(class= "col-md-#{event.width} gutter")
                    div.test
                        //- a(href=event._url)
                        p.event-name #{event.name}
                        div.event.image
