extends layout

block content
    div#content.content
        div#splash
            div.row
                div.col-xs-1.col-md-3
                    hey
                div.col-xs-10.col-md-6.index-letterhead
                    div.index-spark-letterhead
                        img(src='img/letterhead.svg')
                div.col-xs-1.col-md-3
                    hey
            div.row
                div.col-xs-1.col-md-6
                div.col-xs-10.col-md-6
                    div.mission-block
                        p #[span(style="color:#febf0f") Our mission] is to inspire a culture of innovation, expose students to their creative potential, and connect makers across diverse communities
                div.col-xs-1.col-md-0