extends layout

block content
    div#content.content
        div#splash
        div.index-letterhead
            div.index-spark-letterhead
                img(src='img/letterhead.svg')
        div.col-md-1.mission-block
            p #[span(style="color:#febf0f") Our mission] is to inspire a culture of innovation, expose students to their creative potential, and connect makers across diverse communities