extends layout

block stylesheet
    link(rel='stylesheet' href='css/index.css')

block content
    div.splash
        div.spacer-50
        img.letterhead(src='img/letterhead.svg' alt="Spark SC")
        section.mission
            p #[span.highlight Our mission] is to #[span.box inspire] a culture of innovation, #[span.box expose] students to their creative potential, and #[span.box connect] makers across diverse communities.