doctype html

html

    head

        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name='description', content= description)
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title !{title}
        link(rel='icon' href='/img/favicon.ico')

        link(rel='stylesheet' href='/css/master.css')
        link(rel='stylesheet' href='/css/lib/grid.css')

        block stylesheet

    body

        div#menu-icon.menu-icon
            div.hamburger

        div#menu.menu

            a(href="/")
                img.logo(src='/img/logo.svg' alt='Spark SC')

            nav#nav.nav
                ul
                    li.nav-home
                        a(href='/') Home
                    //- li.nav-about
                    //-     a(href='/about.html') About
                    li.nav-whatwedo
                        a(href='/events.html') What We Do
                    li.nav-whoweare
                        a(href='/whoweare.html') Who We Are
                    li.nav-contact
                        a(href='/contact.html') Contact

            section#sm.sm
                ul
                    li
                        a(href='https://www.facebook.com/gosparksc' target='_blank')
                            img(src='/img/sm/facebook.svg' alt='facebook')
                    li
                        a(href='https://twitter.com/gosparksc' target='_blank')
                            img(src='/img/sm/twitter.svg' alt='twitter')
                    li
                        a(href='https://instagram.com/gosparksc' target='_blank')
                            img(src='/img/sm/instagram.svg' alt='instagram')

        div#content.content

            block content

        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(type='text/javascript' src='/js/main.js')
        block javascript

        //- script(type='text/javascript').
        //-     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        //-         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        //-             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        //-     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        //- 
        //-     ga('create', 'UA-48870049-1', 'sparksc.org');
        //-     ga('send', 'pageview');
