extends events

block single_events
    div.event-container
        div.col-lg-12.event-inner-container
            div.row
                div.single-event-image

            div.event-content-container
                div.row
                    p EVENT TITLE

                div.row
                    p event.sparksc.org

                div.row
                    div.bar

                div.row
                    div.col-md-6
                        p DATE INFO
                        p ATTENDANCE

                    div.col-md-6
                        div.goals
                            p GOAL:
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a efficitur augue, at convallis ante. Suspendisse interdum dictum dictum. Donec et massa nibh. Curabitur a vulputate magna.