extends layout

block content
    div#content.content
        div.grey-box
            div.highlight-content
                div.row
                    p(style="color:white;margin:auto;font-weight:200;font-size:18px") Spark SC is made up of twelve student organizations, whose leaders meet twice a month as the Spark SC Council to collaborate, update and share their vision for USC's entrepreneurial community.
                    div.bar(style="background-color:white")

                div.row(style="font-size:20px;font-style: italic")
                    p.col-md-2 LAVALAB
                    p.col-md-2 3D4E
                    p.col-md-4 DESIGN FOR AMERICA
                    p.col-md-4 CORPUS COLLOSUM

                //- div.row(style="color:white;font-size:28px;white-space:nowrap;width:auto;letter-spacing: 2px")
                //-     p.col-md-5.col-lg-4 PRODUCT DESIGN
                //-     p.col-md-4.col-lg-3 3D PRINTING
                //-     p.col-md-3.col-lg-3 DESIGN

                //- div.row(style="color:white;font-size:28px;white-space:nowrap;width:auto;letter-spacing: 2px")
                //-     p.col-sm-6.col-lg-5 STUDENT STARTUPS
                //-     p.col-lg-3 TECHNOLOGY

                //- div.row
                //-     p.col-sm-10.col-lg-6 SOCIAL ENTREPRENEURSHIP
                //-     p.col-lg-4 ENGINEERING
                //-     p.col-lg-3 WORKSHOP
                //-     p.col-lg-4 INSTALLATIONS
                //-     p.col-lg-4 HACKATHONS
                div.row(style="color:white;font-size:28px;white-space:nowrap;width:auto;letter-spacing: 2px")
                    p.col-md-5(style="margin:0;") PRODUCT DESIGN
                    p.col-md-4(style="margin:0") 3D PRINTING
                    p.col-md-3(style="margin:0") DESIGN

                    p.col-md-5(style="margin:0;margin-right:20px") STUDENT STARTUPS
                    p.col-md-4(style="margin:0") TECHNOLOGY

                    p.col-md-7(style="margin:0; margin-right:20px") SOCIAL ENTREPRENEURSHIP
                    p.col-md-4(style="margin:0") ENGINEERING

                    p.col-md-3(style="margin:0;margin-right:10px") WORKSHOP
                    p.col-md-4(style="margin:0;margin-right:10px") INSTALLATIONS
                    p.col-md-4(style="margin:0") HACKATHONS

                    p.col-md-6(style="margin:0;") GAME DEVELOPMENT
                    p.col-md-5(style="margin:0;") HACK NIGHTS
                    //- p.col-md-4(style="margin:0") HACKATHONS

                    p.col-md-3(style="margin:0;") WEB DEV
                    p.col-md-3(style="margin:0;") SPEAKERS
                    p.col-md-5(style="margin:0") PROJECT TEAMS

                    p.col-md-12(style="margin:0;") STUDENT INNOVATION


        div.the-team