extends layout

block stylesheet
    link(rel='stylesheet' href='css/whoweare.css')

block content
    section.orgtopicmap
        p.description Spark SC is made up of twelve student organizations, whose leaders meet twice a month as the Spark SC Council to collaborate, update and share their vision for USC's entrepreneurial community.
        hr
        ul.orglist
            li LavaLab
            li Girls In Tech
            li Startup Equinox
            li ACM
            li.selected Corpus Callosum
            li E-Club
            li Tommy Talks
            li Hack SC
            li Design for America
            li 3D4E
            li NOBE
        ul.topiclist
            li Product Design
            li 3D Printing
            li Design
            li Student Startups
            li.selected Technology
            li Social Entrepreneurship
            li.selected Engineering
            li Workshops
            li.selected Installations
            li Hackathons
            li Game Development
            li Hack Nights
            li Web Dev
            li Speakers
            li.selected Project Teams
            li.selected Student Innovation

    section.ourteam
        h2 The Team
        p.description Spark SC is uniquely structured to make sure we're focusing on projects we're passionate about. Originally a small but mighty group of 6, we expanded into the Spark SC Board. Students apply each semester to be a part of the team and work on Committees that excite them. Applications open at the beginning of each USC semester. Interested? Check out our recruitment page.

        div.container.photos
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
