extends layout

block stylesheet
    link(rel='stylesheet' href='/css/whoweare.css')

block content
    section.orgtopicmap
        p.description Spark SC is made up of twelve student organizations, whose leaders meet twice a month as the Spark SC Council to collaborate, update and share their vision for USC's entrepreneurial community.
        hr
        ul.orglist
            li.lava.product.design.startups.technology.workshops.engineering.webdev.speakers.teams.innovation LavaLab
            li.corpus.design.technology.engineering.installations.teams.innovation Corpus Callosum
            li.dfa.design.social.engineering.workshops.installations.speakers.teams.innovation Design for America
            li.3d4e.printing.technology.social.workshops.teams.innovation 3D4E
        ul.topiclist
            li.product.lava Product Design
            li.printing.3d4e 3D Printing
            li.design.lava.corpus.dfa Design
            li.startups.lava Student Startups
            li.technology.lava.corpus.3d4e Technology
            li.social.dfa.3d4e Social Entrepreneurship
            li.engineering.lava.corpus.dfa.3d4e Engineering
            li.workshops.lava.dfa.3d4e Workshops
            li.installations.corpus.dfa Installations
            //- li Hackathons
            //- li Game Development
            //- li Hack Nights
            li.webdev.lava Web Dev
            li.speakers.lava.dfa.3d4e Speakers
            li.teams.lava.corpus.dfa.3d4e Project Teams
            li.innovation.lava.corpus.dfa.3d4e Student Innovation

    section.ourteam
        h2 The Team
        p.description Spark SC is uniquely structured to make sure we're focusing on projects we're passionate about. Originally a small but mighty group of 6, we expanded into the Spark SC Board. Students apply each semester to be a part of the team and work on Committees that excite them. Applications open at the beginning of each USC semester. Interested? Check out our recruitment page.

        div.container.photos
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member
            div.col-sm-2.member

block javascript
    script(type='text/javascript' src='/js/whoweare.js')
