extends layout

block stylesheet
    link(rel='stylesheet' href='/css/whoweare.css')

block content
    section.orgtopicmap
        p.description The #[span.highlight Spark SC Council] is made up of #[span.highlight five student organizations], whose leaders meet twice a month to collaborate, update and share their vision for USC's entrepreneurial community.
        hr
        ul.orglist
            li.lava.product.design.startups.technology.workshops.engineering.webdev.speakers.teams.innovation
                a(href='http://usclavalab.org/' target='_blank') LavaLab
            li.corpus.design.technology.engineering.installations.teams.innovation
                a(href='https://www.facebook.com/usccorpuscallosum' target='_blank') Corpus Callosum
            li.dfa.design.social.engineering.workshops.installations.speakers.teams.innovation
                a(href='http://www.uscdesignforamerica.xyz/' target='_blank') Design for America
            li.3d4e.printing.technology.social.workshops.teams.innovation
                a(href='http://www.usc3d4e.com/' target='_blank') 3D4E
        ul.topiclist
            li.product.lava Product Design
            li.printing.3d4e 3D Printing
            li.design.lava.corpus.dfa Design
            li.startups.lava Student Startups
            li.technology.lava.corpus.3d4e Technology
            li.social.dfa.3d4e Social Impact
            li.engineering.lava.corpus.dfa.3d4e Engineering
            li.workshops.lava.dfa.3d4e Workshops
            li.installations.corpus.dfa Installations
            li.webdev.lava Web Dev
            li.speakers.lava.dfa.3d4e Speakers
            li.teams.lava.corpus.dfa.3d4e Project Teams
            li.innovation.lava.corpus.dfa.3d4e Student Innovation

    section.ourteam
        h2 The Team
        p.description Spark SC is uniquely structured to make sure we're focusing on projects we're passionate about. Originally a small but mighty group of 6, we expanded into the Spark SC Board. Students apply each semester to be a part of the team and work on Committees that excite them. Applications open at the beginning of each USC semester. Interested? Check out <a href="http://sparksc.org/apply/" class="highlight"> our recruitment page</a>.

        div.photos
          for member, index in data["members"]
            div.single-member(id="#{member.lower}")
                div.photo(style='background-image:url(/img/members/#{member.lower}.jpg)')
                div.info(style='background-image:url(/img/members/#{member.lower}-silly.jpg)')
                    div #{member.lower}

block javascript
    script(type='text/javascript' src='/js/whoweare.js')
