---
name: "1000 Pitches"
width: 6
card_url: "/img/events/1kp/1kp_card.jpg"
cover_url: "/img/events/1kp/1kp_cover3.jpg"
logo_url: "/img/logos/1kp_logo.png"
date: ""
attendance: "$12,000. 1000 Pitches. Your Ideas."
goal: "1000 Pitches invites you to throw away your preconceptions of who can be an innovator and pitch your $1000 idea. "
description:
 - "1000 Pitches is a two month long pitch competition where top pitchers in each of 12 categories win $1000. Participants submit short video recordings of themselves pitching any idea (yes, ANY idea!) to our pitch gallery, and winners are chosen by industry professionals. Spark SC started the USC branch of 1000 Pitches in Fall 2014, and collected 1015 pitches! The event was founded at the University of Michigan in 2007 and has since expanded to 5 universities across the US. "
 - "The competition kicks off with an exciting opening ceremony to explain the game and showcase a few live examples. While we encourage students to pitch from home using our website, we also host Pitch Booths about two days a week throughout the course of the competition! Students can stop by these booths to submit pitches for treats and receive our (quite popular) 1000 Pitches TShirt! When the competition ends, we host a closing ceremony, where winning pitches are revealed and $1000 checks are distributed."
 - "Spark SC believes amazing ideas are out there –– scribbled on post-its, typed up on Notes, or tucked away in minds. 1000 Pitches invites us to throw away our preconceptions of who can be an “innovator” and adopt the belief that everyone has a thousand dollar pitch."
 - "Send us a note at hello@sparksc.org to find out how your organization can sponsor!"
partners:
 - name: "cornerstone"
   source: "/img/companies/cornerstone.png"
   link: "http://www.cornerstoneondemand.com"

 - name: "20mm"
   source: "/img/companies/20mm.png"
   link: "http://www.20mm.org"

 - name: "openx"
   source: "/img/companies/openx.png"
   link: "http://www.openx.com"

 - name: "crosscampus"
   source: "/img/companies/crosscampus.png"
   link: "http://www.crosscamp.us/"

 - name: "flex"
   source: "/img/companies/flex.jpg"
   link: "http://www.flextronics.com/"

 - name: "kluge"
   source: "/img/companies/kluge.png"
   link: "http://klugeinteractive.com/"

 - name: "ga"
   source: "/img/companies/ga.png"
   link: "https://generalassemb.ly/"

members:
 - name: "Adena"
   source: "img/members/adena.jpg"

 - name: "Michael"
   source: "img/members/michael.jpg"

 - name: "Calvin" 
   source: "img/members/calvin.jpg"

 - name: "Katherine"
   source: "img/members/katherine.jpg"

 - name: "Stephen"
   source: "img/members/stephen.jpg"

 - name: "Neel"
   source: "img/members/neel.jpg"

bottom_images:
- "/img/events/1kp/1kp_4.jpg"
- "/img/events/1kp/1kp_card3.jpg"

press:
 - "LINKLINKLINKLINK"
 - "LINKLINKLINKLINK"
_content: false
---

extends ../views/_event-fragment
