---
name: "Arts Grooves and Foods"
width: 3
card_url: "/img/events/agf/agf_card.jpg"
cover_url: ""
logo_url: ""
date: "DATE: Month Day, Year"
attendance: "### Students, ## Thing, # Thing"
goal: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a efficitur augue, at convallis ante. Suspendisse interdum dictum dictum. Donec et massa nibh. Curabitur a vulputate magna."
description:
 - "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a efficitur augue, at convallis ante. Suspendisse interdum dictum dictum. Donec et massa nibh. Curabitur a vulputate magna."
 - "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a efficitur augue, at convallis ante. Suspendisse interdum dictum dictum. Donec et massa nibh. Curabitur a vulputate magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a efficitur augue, at convallis ante. Suspendisse interdum dictum dictum. Donec et massa nibh. Curabitur a vulputate magna."
partners:
 - "https://www.facebook.com/images/fb_icon_325x325.png"
 - "https://www.facebook.com/images/fb_icon_325x325.png"
bottom_images:
 - "https://scontent-lax1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11150566_646380472162706_1814774578523370787_n.jpg?oh=868a0c045164ad3a9874bd736d83fb75&oe=55FF303E"
 - "http://viterbivoices.usc.edu/wp-content/uploads/2014/12/Closing2.jpg?w=498"
press:
 - "LINKLINKLINKLINK"
 - "LINKLINKLINKLINK"
_content: false
---

extends ../views/_event-fragment
