---
name: "Meet-N-Mix"
width: 3
card_url: "/img/events/mnm/mnm_1.jpg"
cover_url: ""
logo_url: ""
date: "August 17, 2015"
attendance: "300 Students. 5 Orgs. 1 Community."
goal: "At the beginning of each semester, the Meet-n-Mix showcases Spark SC’s member organizations to provide clear and meaningful introductions to students interested in joining."
description:
 - "The Spark Fair is a large-scale event at the beginning of each semester that showcases Spark SC’s member organizations and encourages students to join the Spark SC community." 
 - "The Spark Fair allows students to learn more about organizations in the tech, entrepreneurship, and design scene on campus.The event has the feel of a small involvement fair, with the added benefit of music, food, and more interaction between organization leaders and potential members. Students who attend are encouraged to mingle with like-minded individuals who may be future club-mates. "
partners:
 - "https://www.facebook.com/images/fb_icon_325x325.png"
 - "https://www.facebook.com/images/fb_icon_325x325.png"
 
members:
 - name: Adena
   source: "/"

 - name: Michael
   source: "/"

 - name: Calvin 
   source: "/"

 - name: Kat
   source: "/"

 - name: Stephen
   source: "/"

 - name: Neel
   source: "/"

bottom_images:
 - "https://scontent-lax1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11150566_646380472162706_1814774578523370787_n.jpg?oh=868a0c045164ad3a9874bd736d83fb75&oe=55FF303E"
 - "http://viterbivoices.usc.edu/wp-content/uploads/2014/12/Closing2.jpg?w=498"
press:
 - "LINKLINKLINKLINK"
 - "LINKLINKLINKLINK"
_content: false
---

extends ../views/_event-fragment
