---
name: "Spark Fair"
width: 3
card_url: "/img/events/mnm/mnm_1.jpg"
cover_url: "/img/events/mnm/mnm_2.jpg"
logo_url: "/img/logos/spark_letterhead.png"
date: "August 17, 2015"
attendance: "300 Students. 5 Orgs. 1 Community."
goal: "At the beginning of each semester, the Spark Fair showcases Spark SC’s member organizations to provide clear and meaningful introductions to students interested in joining."
one_liner: "A chance for students to casually meet the leaders of USC's leading entrepreneurial organizations."
description:
 - "The Spark Fair is a large-scale event at the beginning of each semester that showcases Spark SC’s member organizations and encourages students to join the Spark SC community." 
 - "The Spark Fair allows students to learn more about organizations in the tech, entrepreneurship, and design scene on campus.The event has the feel of a small involvement fair, with the added benefit of music, food, and more interaction between organization leaders and potential members. Students who attend are encouraged to mingle with like-minded individuals who may be future club-mates. "

partners:
 - name: "lava"
   source: "/img/logos/lava.png"
   link: "http://usclavalab.org/"

 - name: "dfa"
   source: "/img/logos/dfa.png"
   link: "http://www.designforamericausc.com/"

 - name: "coca"
   source: "/img/logos/coca.png"
   link: "https://www.facebook.com/usccorpuscallosum"

 - name: "3d4e"
   source: "/img/logos/3d4e.png"
   link: "http://www.usc3d4e.com/"

members:
 - name: "Adena"
   source: "/img/members/adena.jpg"

 - name: "Cherrie"
   source: "/img/members/cherrie.jpg"

 - name: "Saadhya"
   source: "/img/members/saadhya.jpg"

 - name: "Katherine"
   source: "/img/members/katherine.jpg"

 - name: "Michael"
   source: "/img/members/michael.jpg"

 - name: "Calvin" 
   source: "/img/members/calvin.jpg"

 - name: "Megan"
   source: "/img/members/megan.jpg"

 - name: "Stephen"
   source: "/img/members/stephen.jpg"

 - name: "Neel"
   source: "/img/members/neel.jpg"

bottom_images:
 - "/img/events/mnm/mnm_card2.jpg"
 - "/img/events/mnm/mnm_card1.jpg"

press:
 - "LINKLINKLINKLINK"
 - "LINKLINKLINKLINK"
_content: false
---

extends ../views/_event-fragment
