---
name: "Tech Tours"
width: 3
card_url: "/img/events/tours/tours_card.jpg"
cover_url: "/img/events/tours/tours_3.jpg"
logo_url: "/img/logos/spark_letterhead.png"
date: "All year round"
attendance: "25 Students. 20 Companies. 5 Tours."
goal: "Tech Tours give Trojans the opportunity to tour the companies that shape the Los Angeles tech movement, ranging from small startups to well known corporations."
one_liner: "We organize monthly trips to local companies we think are awesome for our members."
description:
 - "It’s difficult to get a feel for what it’s like to work at a tech company, so we’d rather show than tell. Tech Tours take USC students all over Los Angeles to tour the buildings, campuses, and basements that make up the LA tech scene." 
 - "Our 'tech tourists' get to see companies’ working environments, learn about their initiatives, and meet individuals who love and influence their missions. On a given Tech Tour, we will load up a few cars in the morning and see about 3 companies throughout the course of the day. Viewing multiple companies per trip lets us compare cultures and projects and helps us to better paint the picture of LA tech as a whole."

partners:
 - name: "google"
   source: "/img/companies/google.png"
   link: "https://google.com/"

 - name: "surfair"
   source: "/img/companies/surfair.png"
   link: "http://www.surfair.com/"

 - name: "tastemade"
   source: "/img/companies/tastemade_crop.png"
   link: "https://www.tastemade.com/"

 - name: "chownow"
   source: "/img/companies/chownow_letter.png"
   link: "https://www.chownow.com/"

 - name: "gobbler"
   source: "/img/companies/gobbler.png"
   link: "http://gobbler.com/"

 - name: "gem"
   source: "/img/companies/gem.png"
   link: "https://gem.co/"

 - name: "riot"
   source: "/img/companies/riot.png"
   link: "http://www.riotgames.com/"

 - name: "honestco"
   source: "/img/companies/honestco.png"
   link: "https://www.honest.com/"

 - name: "roaminghunger"
   source: "/img/companies/roaminghunger.png"
   link: "http://roaminghunger.com/"

members:
 - name: "Marc"
   source: "/img/members/marc.jpg"

 - name: "Ben"
   source: "/img/members/ben.jpg"

 - name: "Trajan" 
   source: "/img/members/trajan.jpg"

 - name: "Matias" 
   source: "/img/members/matias.jpg"
   
bottom_images:
 - "/img/events/tours/tours_2.jpg"
 - "/img/events/tours/tours_4.jpg"

press:
 - "LINKLINKLINKLINK"
 - "LINKLINKLINKLINK"

_content: false
---

extends ../views/_event-fragment
