---
name: "Tech Tours"
width: 3
card_url: "/img/events/tours/tours_card.jpg"
cover_url: ""
logo_url: ""
date: "All year round"
attendance: "25 Students. 20 Companies. 5 Tours."
goal: "Tech Tours give Trojans the opportunity to tour the companies that shape the Los Angeles tech movement, ranging from small startups to well known corporations."
description:
 - "It’s difficult to get a feel for what it’s like to work at a tech company, so we’d rather show than tell. Tech Tours take USC students all over Los Angeles to tour the buildings, campuses, and basements that make up the LA tech scene." 
 - "Our 'tech tourists' get to see companies’ working environments, learn about their initiatives, and meet individuals who love and influence their missions. On a given Tech Tour, we will load up a few cars in the morning and see about 3 companies throughout the course of the day. Viewing multiple companies per trip lets us compare cultures and projects and helps us to better paint the picture of LA tech as a whole."
partners:
 - "https://www.facebook.com/images/fb_icon_325x325.png"
 - "https://www.facebook.com/images/fb_icon_325x325.png"
 
members:
 - name: Adena
   source: "/"

 - name: Michael
   source: "/"

 - name: Calvin 
   source: "/"

 - name: Kat
   source: "/"

 - name: Stephen
   source: "/"

 - name: Neel
   source: "/"

bottom_images:
 - "https://scontent-lax1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11150566_646380472162706_1814774578523370787_n.jpg?oh=868a0c045164ad3a9874bd736d83fb75&oe=55FF303E"
 - "http://viterbivoices.usc.edu/wp-content/uploads/2014/12/Closing2.jpg?w=498"
press:
 - "LINKLINKLINKLINK"
 - "LINKLINKLINKLINK"
_content: false
---

extends ../views/_event-fragment
