/* general */
/* -------------------- */

$desktop-min-height = 680px

/* fonts */
/* -------------------- */

// font stack

$proxima-nova = "Proxima Nova", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
$helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
$helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
$georgia = Georgia, Cambria, "Times New Roman", Times, serif
$lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
$monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
$verdana = Verdana, Geneva, sans-serif

// default font stack

$font-stack = $proxima-nova
$font-size = 16

// ligatures
$ligatures = false

/* colors */
/* -------------------- */

$spark-yellow = #FDBD15
$spark-black = #222222

// text highlight color
$highlight-color = $spark-yellow

/* roots */
/* -------------------- */

// custom image base path for roots mixins
$img-path = ''