@import url("//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css");

.events
    width 100%
    
.gutter
    padding 2px 2px
    
.test 
    text-align left
    margin 0px
    background-color black
    height  410px  
    text-align center
    max-width 100%
    max-height 100%
    width 100%
    overflow hidden
    //object-fit:fill
    
.event-image
    // max-width:100%
    // max-height:100%
    width 110%
    height  430px
    margin -10px
    -webkit-filter  blur(3px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
        
.event-name
    padding 20px
    position absolute
    font-size 24px
    font-family "Proxima Nova"
    font-weight 700
    text-shadow 1.5px 1px black
    color white
    z-index 1
    
.1000-pitches
    background-image url("http://www.engagesciences.com/wp-content/uploads/2014/04/CATS-SELFIES-5-600x399.jpg")