@import url("grid.css");

.container
    padding: 0 2px

.events
    width 100%
    
.gutter
    padding 2px
    
.test 
    text-align left
    
    margin 0px
    height  410px  

    overflow hidden
    
    //For testing
    // border-width: 1px
    // border-style: solid
    
.event-image
    
    backgroud-position center
    background-size cover
    background-repeat no-repeat
    background-image url("http://stuffpoint.com/cats/image/459576-cats-cat-and-nature-wallpaper.jpg")
    
    // Add image blur
    -webkit-filter blur(3px)
    -moz-filter blur(5px)
    -o-filter blur(5px)
    -ms-filter blur(5px)
    filter blur(5px)
    
    // Ensures that border blur is not visible    
    width 110%
    height  430px
    margin -10px
        
.event-name
    padding 20px
    position absolute
    
    // Ensure text shows up over image
    z-index 1
    
    color white    
    font-size 24px
    font-family "Proxima Nova"
    font-weight 700
    text-shadow 1.5px 1px black
