@import '_settings'

.event-info
    display block

.bar
    width 100%
    height 1px
    background-color black

.event-container
    z-index 2
    position absolute
    width 100%

.event-inner-container
    position relative
    width 100%
    background-color white

.event-content-container
    width 80%
    margin-left 10%

.event-page-close
    position absolute
    top 20px; right 25px
    font-size 42px
    text-decoration none
    list-style none
    color #fff
    text-shadow 2px 2px 2px black
    cursor pointer
    z-index 999999

.single-event-image
    width 100%
    height 500px
    filter blur(3px)
    filter brightness(.6)

    background-position center
    background-size cover
    background-repeat no-repeat

.single-event-logo
    width 340px
    margin 0 auto
    position absolute
    top 120px; right 0; left 0

.member-photo
    width 50px
    height 50px
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius 25px
    margin 10px

    background-position center
    background-size cover
    background-repeat no-repeat
    // background-image url("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/053/334/18b66a7.jpg")

.sparksc-letterhead
    margin-top 10px
    width 150px
    max-height 40px

.letterhead
    height 60px

.social-icon
    margin-top 15px
    max-height 30px

.social-icons
    float right

.partner-logo
    padding 20px
    height 100px
    width auto

.yellow
    color #febf0f
    font-weight 800
    font-style italic

.partners
    padding 20px

.bottom-image
    backgroud-position center
    background-size cover
    background-repeat no-repeat
    height 400px

@media only screen and (max-width: $mobile-bp-sm)
    .single-event-logo
        width 75%

    .partner-logo
        height 80px
