@import '_settings'

.container
    padding 0

.events
    width 100%

.gutter
    padding 2px

.event
    height 410px
    margin 0
    position relative
    overflow hidden

.image
    width 100%; height 100%
    position relative
    backgroud-position center
    background-size cover
    background-repeat no-repeat
    background-image url('//stuffpoint.com/cats/image/459576-cats-cat-and-nature-wallpaper.jpg')
    filter blur(5px)

.name
    padding 30px 20px
    position absolute
    color white
    font-size 24px
    font-weight 700
    text-shadow 1.5px 1px black
    z-index 1

.event-info
    position fixed
    top 0; right 0; bottom 0; left $menu-width
    background rgba(0,0,0,0.6)
    overflow scroll
    z-index 10

.event-page
    width 100%
    position relative
    background #fff
    border-top 12px solid rgba(0,0,0,0)
    border-right 12px solid rgba(0,0,0,0)
    border-left 12px solid rgba(0,0,0,0)
    background-clip padding-box
