.event-info
    display block

.bar
    width 100%
    height 1px
    background-color black

.event-container
    z-index 2
    position absolute
    width 100%


.event-inner-container
    position relative
    width 100%
    background-color white

.event-content-container
    width 80%
    margin-left 10%

.single-event-image
    width 100%
    height 500px

    background-position center
    background-size cover
    background-repeat no-repeat

.single-event-logo
    margin-top 80px

    width 100%
    max-width 350px

.member-photo
    width 60px
    height 60px
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius 30px
    margin 10px

    background-position center
    background-size cover
    background-repeat no-repeat
    background-image url("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/053/334/18b66a7.jpg")

.sparksc-letterhead
    margin-top 10px
    width 150px
    max-height 40px

.letterhead
    height 60px

.social-icon
    margin-top 15px
    max-height 30px

.social-icons
    float right

.partner-logo
    min-height 50px
    min-width 40px

    max-height 50px
    max-width 100px

    margin 20px

.yellow
    color #febf0f
    font-weight 800
    font-style italic

.partners
    padding 20px

.bottom-image
    backgroud-position center
    background-size cover
    background-repeat no-repeat
    height 400px
