@import url('http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')

.grey-box
	padding-top 60px
	background-color #383938
	padding-bottom 60px

.grey-box
	p
		color white    
	    font-size 24px
	    font-family "Proxima Nova"
	    font-weight 700
	    text-shadow 1.5px 1px black
	    
	.bar 
		margin-top 20px	
	
.highlight-content
	width 80%
	margin-left 10%
	
.the-team
	width 80%
	margin-left 10%
	
.quality
	margin:0
	
.quality:hover
	color: #febf0f

.org:hover
	color: #febf0f
	
.team-grid
	margin-top 40px

.member
	height 200px
	width 200px
	padding 0px
	background-size cover
	background-repeat no-repeat
	background-image url("https://scontent-lax1-1.xx.fbcdn.net/hphotos-xat1/t31.0-8/s960x960/11187760_10153167183272626_2695559670606487226_o.jpg")
	
.member:hover
	opacity .5
	background-image url("https://scontent-lax1-1.xx.fbcdn.net/hphotos-xpa1/t31.0-8/s960x960/11174498_10153167183242626_6335201200322445381_o.jpg")