.grey-box
	padding-top 60px
	background-color #444

.grey-box
	p
		color white    
	    font-size 24px
	    font-family "Proxima Nova"
	    font-weight 700
	    text-shadow 1.5px 1px black
	    
	.bar 
		margin-top 20px	
	
.highlight-content
	width 80%
	margin-left 10%
	
.the-team
	background-color yellow