@import '_settings'

.nav-whoweare
    background #222

.orglist .selected, .topiclist .selected
	color $spark-yellow

.orgtopicmap
	padding 90px 6% 70px 6%
	background #383938
	color white
	hr
		margin 30px 0
		padding 0
		border none
		border-top 1px solid white

	.description
		margin 0
		font-size 18px
		font-style italic
		line-height 24px

	.orglist
		margin 0 0 35px 0
		padding 0
		li
			margin 0 60px 20px 0
			list-style none
			display inline-block
			font-size 22px
			font-weight 700
			font-style italic
			text-transform uppercase

	.topiclist
		margin 0
		padding 0
		li
			margin 0 40px 20px 0
			list-style none
			display inline-block
			font-size 32px
			font-weight 700
			text-transform uppercase

.ourteam
	padding 90px 6% 70px 6%
	h2
		margin 0 0 20px 0
		padding 0
		text-transform uppercase
	.description
		margin 0
		font-size 18px
		line-height 22px

	.photos
		margin-top 50px

.single-member
	// Positioning
	position relative
	display inline-block
	height 180px
	width 180px 

	.bottom-member
		// Positioning
		position absolute
		height 180px
		width 180px
		margin 1px

		// Appearance	
		background-size cover
		background-repeat no-repeat
	
	.single-member-info
		// Positioning
		position absolute
		height 180px
		width 180px
		margin 1px

		// Font
		text-align center
		color white
		font-size 24px
		font-weight 800

		// Appearance
		visibility hidden
		background-size cover
		background-repeat no-repeat

		.silly-member
			position absolute
			top 0
			left 0
			// height 180px
			// width 180px
			margin 1px

			background-size cover
			background-repeat no-repeat

		.member-color
			position absolute
			top 0
			left 0
			height 180px
			width 180px
			margin 1px

			color black
			opacity 1
	