---
name: "Community Service"
width: 3
card_url: "/img/events/serv/serv_card.jpg"
cover_url: "/img/events/serv/serv_1.jpg"
logo_url: ""
date: "Month Day, Year"
attendance: "### Students, ## Thing, # Thing"
goal: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a efficitur augue, at convallis ante. Suspendisse interdum dictum dictum. Donec et massa nibh. Curabitur a vulputate magna."
description:
 - "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a efficitur augue, at convallis ante. Suspendisse interdum dictum dictum. Donec et massa nibh. Curabitur a vulputate magna."
 - "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a efficitur augue, at convallis ante. Suspendisse interdum dictum dictum. Donec et massa nibh. Curabitur a vulputate magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a efficitur augue, at convallis ante. Suspendisse interdum dictum dictum. Donec et massa nibh. Curabitur a vulputate magna."

partners:
 - name: "20mm"
   source: "/img/companies/20mm.png"
   link: "http://www.20mm.org"
 
members:
 - name: "Megan"
   source: "/img/members/megan.jpg"

 - name: "Maddie"
   source: "/img/members/maddie.jpg"

 - name: "Pooja" 
   source: "/img/members/pooja.jpg"

 - name: "Saadhya"
   source: "/img/members/saadhya.jpg"

 - name: "Rikki"
   source: "/img/members/rikki.jpg"

bottom_images:
 - "/img/events/serv/serv_2.jpg"
 - "/img/events/serv/serv_6.jpg"

press:
 - "LINKLINKLINKLINK"
 - "LINKLINKLINKLINK"
_content: false
---

extends ../views/_event
