---
name: "USC Hackers"
width: 6
card_url: "/img/events/usch/usch_card.jpg"
cover_url: "/img/events/usch/usch_12.jpg"
logo_url: "/img/logos/usch_wide_logo.png"
date: "All year round."
attendance: "400 Shirts. 8 Hackathons. 1 Community."
goal: "USC Hackers is an organized community of developers that encourages partnership and mentorship surrounding tech, hacking and prototyping."
one_liner: "Our initiatve to inspire students to explore technology outside of the classroom."
description:
 - "The hacker community at USC first formed in early 2014 with the creation of Hack Nights. Hack Nights were a place where anyone could come and work on projects with free drinks and pizza. They provided a coworking space where hackers could meet up, hear about eachothers ideas and start on new projects together."
 - "Now, we have adopted a new idea of a USC Hackers community, where hack nights and shared projects are an implication of the community we are trying to form, rather than an end result. We kick off the year with a USC Hackers Orientation event, where freshman learning computer science, or anyone else who is new to developing can mingle, view projects made at past hackathons, and hear about the hacker events, workshops and mentorship opportunities.Then, throughout the year, members of the community are encouraged to attend hackathons and other tech events together and rep the USC Hacker’s swag! We are proud to be trojan hackers and so excited to get building together!"

partners:
 - name: "Microsoft"
   source: "/img/companies/microsoft.png"
   link: "https://microsoft.com/"
 
members:
 - name: "Irfan"
   source: "/img/members/irfan.jpg"

 - name: "Calvin"
   source: "/img/members/calvin.jpg"

 - name: "Adena"
   source: "/img/members/adena.jpg"

 - name: "Maddie" 
   source: "/img/members/maddie.jpg"

 - name: "Brian"
   source: "/img/members/brian.jpg"

 - name: "Jesse"
   source: "/img/members/jesse.jpg"

 - name: "Stephen" 
   source: "/img/members/stephen.jpg"
 
bottom_images:
 - "/img/events/usch/usch_11.jpg"
 - "/img/events/usch/usch_4.jpg"

press:
 - "LINKLINKLINKLINK"
 - "LINKLINKLINKLINK"
_content: false
---

extends ../views/_event
