---
order: 1
name: "Arts Grooves & Foods"
width: 3
card_url: "/img/events/agf/agf_card.jpg"
cover_url: "/img/events/agf/agf_11.jpg"
logo_url: "/img/logos/agf_logo.png"
date: "March 12, 2015"
attendance: "400 Students, 80 Booths, 1 Festival"
goal: "Arts, Grooves, & Foods is a celebration of student innovation in art, music, and food seeking to expand the perceived definition of entrepreneurship"
one_liner: "An art, music, and cullinary festival that celebrates entrepreneurs living off of their creative talents."
description:
 - "Arts, Grooves, & Foods is a music festival juxtaposed with a student talent exposition buzzing with an electric excitement."
 - "The initiative was born from an urge to inform the masses that entrepreneurship is more than starting companies and the desire to unite the talented students of USC’s diverse disciplines. Seemingly disparate goals? Not upon further investigation."
 - "By seeking out individuals working on creative and exciting projects in fields not traditionally linked to entrepreneurship, showcasing their brilliant work, and connecting the underlying entrepreneurial dots for participants and attendees alike, we were able to expose students of Viterbi, Annenberg, Dornsife, Roski, and others to the inspiring work of their Trojan peers and spread the message that the heart of entrepreneurship lies in creativity and self empowerment rather than LLCs and funding sprees."
 - "Arts, Grooves, & Foods is an event, but more than that, it is a movement for which we foresee burgeoning growth and far reaching impact."

partners:
 - name: "iovine"
   source: "/img/schools/iovine/iovine_2.png"
   link: "http://iovine-young.usc.edu/"

members:
 - name: Eric
   source: "/img/members/eric.jpg"

 - name: Soham
   source: "/img/members/soham.jpg"

 - name: Saadhya 
   source: "/img/members/saadhya.jpg"

 - name: Katherine
   source: "/img/members/katherine.jpg"

 - name: Tiffany
   source: "/img/members/tiffany.jpg"

 - name: Trajan
   source: "/img/members/trajan.jpg"

 - name: Ben
   source: "/img/members/ben.jpg"

 - name: Pooja

   source: "/img/members/pooja.jpg"

 - name: Adena
   source: "/img/members/adena.jpg"

bottom_images:
 - "/img/events/agf/agf_15.jpg"
 - "/img/events/agf/agf_12.jpg"
press:
 - "LINKLINKLINKLINK"
 - "LINKLINKLINKLINK"
_content: false
---

extends ../views/_event
