---
name: "Arts Grooves & Foods"
width: 3
card_url: "/img/events/agf/agf_card.jpg"
cover_url: "/img/events/agf/agf_11.jpg"
logo_url: "/img/logos/agf_logo.png"
date: "DATE: Month Day, Year"
attendance: "400 Students, 80 Booths, 1 Festival"
goal: "Arts Grooves and Foods shines a light on the entrepreneurs making a living through their creative talents."
description:
 - "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a efficitur augue, at convallis ante. Suspendisse interdum dictum dictum. Donec et massa nibh. Curabitur a vulputate magna."
 - "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a efficitur augue, at convallis ante. Suspendisse interdum dictum dictum. Donec et massa nibh. Curabitur a vulputate magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a efficitur augue, at convallis ante. Suspendisse interdum dictum dictum. Donec et massa nibh. Curabitur a vulputate magna."

partners:
 - name: "iovine"
   source: "/img/schools/iovine.jpg"
   link: "http://iovine-young.usc.edu/"

members:
 - name: Eric
   source: "/img/members/eric.jpg"

 - name: Soham
   source: "/img/members/soham.jpg"

 - name: Saadhya 
   source: "/img/members/saadhya.jpg"

 - name: Katherine
   source: "/img/members/katherine.jpg"

 - name: Tiffany
   source: "/img/members/tiffany.jpg"

 - name: Trajan
   source: "/img/members/trajan.jpg"

 - name: Ben
   source: "/img/members/ben.jpg"

 - name: Pooja

   source: "/img/members/pooja.jpg"

 - name: Adena
   source: "/img/members/adena.jpg"

bottom_images:
 - "/img/events/agf/agf_15.jpg"
 - "/img/events/agf/agf_12.jpg"
press:
 - "LINKLINKLINKLINK"
 - "LINKLINKLINKLINK"
_content: false
---

extends ../views/_event
