---
name: "Community Service"
width: 3
card_url: "/img/events/serv/serv_card.jpg"
cover_url: "/img/events/serv/serv_1.jpg"
logo_url: "/img/logos/spark_letterhead.png"
date: "All year long"
attendance: ""
goal: "To support and inspire our surrounding community through service-oriented projects and initiatives within the lens of entrepreneurship."
one_liner: "Our set of initiatives aimed at supporting USC's surrounding community"
description:
 - "Against the backdrop of student entrepreneurship, creativity, and technology, Spark SC seeks to create impact beyond the USC campus. Each semester, Spark engages in various community-oriented projects, initiatives, and events within our goals of cultivating and inspiring entrepreneurship. From empowering girls in engineering to collaborating with local school programs, we continue to develop projects of different levels of social impact." 
 - "We strive to address communities and diverse opportunities and would love to hear about various ways we can offer our time, leadership, and hands. If you or your organization would like to build something together, please contact hello@sparksc.org with “Community Service Opportunity” in the email subject."

partners:
 - name: "hybrid"
   source: "/img/schools/hybridhighschool.png"
   link: " http://www.ednovate.org/about-usc/"
 
members:
 - name: "Megan"
   source: "/img/members/megan.jpg"

 - name: "Maddie"
   source: "/img/members/maddie.jpg"

 - name: "Pooja" 
   source: "/img/members/pooja.jpg"

 - name: "Saadhya"
   source: "/img/members/saadhya.jpg"

 - name: "Rikki"
   source: "/img/members/rikki.jpg"

bottom_images:
 - "/img/events/serv/serv_2.jpg"
 - "/img/events/serv/serv_6.jpg"

press:
 - "LINKLINKLINKLINK"
 - "LINKLINKLINKLINK"
_content: false
---

extends ../views/_event
