---
name: "Startup Career Fair"
width: 6
card_url: "/img/events/scf/scf_card.jpg"
cover_url: "/img/events/scf/scf_1.jpg"
logo_url: "/img/logos/scf_blue.png"
date: "February 19, 2015"
attendance: "800 Students. 25 Companies. 1 Drone."
goal: "The Startup Career Fair connects Los Angeles based startup companies to Trojans looking for internships and full time positions in engineering, design and business."
description:
 - "The startup scene in Los Angeles is burgeoning. One of our goals at Spark SC is to help fuel this growth. By connecting top LA startup companies to USC’s pool of talented engineers, designers and business students, we believe we can make a positive impact on LA innovation. "
 - "The Startup Career Fair, organized exclusively by Spark SC, invites over 25 LA based startup companies to the USC campus to network with potential intern and full time hires. All day, the Quad is lined with companies hiring for a myriad of positions. This past spring, 800 students packed into the quad to speak to recruiters and find more information about their company culture and positions. "
 - "Spark SC sees a shift in students’ preference from working at large corporations to working at startups. We view this positively because we believe that the quick-to-prototype nature of startups provides a beneficial learning experience for Trojans."

partners:
 - name: "tinder"
   source: "/img/companies/tinder.png"
   link: "https://tndr.co/"

 - name: "whisper"
   source: "/img/companies/whisper.png"
   link: "https://whisper.sh/"

 - name: "omaze"
   source: "/img/companies/omaze.png"
   link: "https://omaze.com/"

 - name: "rubicon"
   source: "/img/companies/rubicon.png"
   link: "http://rubiconproject.com/"

 - name: "tigertext"
   source: "/img/companies/tigertext.png"
   link: "http://www.tigertext.com/"

 - name: "curb"
   source: "/img/companies/curb.png"
   link: "http://gocurb.com/"

 - name: "washop"
   source: "/img/companies/washio.png"
   link: "http://www.getwashio.com/"

 - name: "spylight"
   source: "/img/companies/spylight.png"
   link: "http://www.spylight.com/"

 - name: "flipagram"
   source: "/img/companies/flipagram.png"
   link: "https://flipagram.com/"

 - name: "honk"
   source: "/img/companies/honk.png"
   link: "http://www.honkforhelp.com/"

 - name: "fastpay"
   source: "/img/companies/fastpay.png"
   link: "http://gofastpay.com/"

 - name: "zefr"
   source: "/img/companies/zefr.png"
   link: "http://zefr.com/"

 - name: "crosscampus"
   source: "/img/companies/crosscampus.png"
   link: "http://www.crosscamp.us/"

 - name: "kaarma"
   source: "/img/companies/kaarma.png"
   link: "http://mykaarma.com/"

 - name: "gem"
   source: "/img/companies/gem.png"
   link: "https://gem.co/"

 - name: "lootsie"
   source: "/img/companies/lootsie.png"
   link: "http://www.lootsie.com/"
 
 - name: "vixlet"
   source: "/img/companies/vixlet.png"
   link: "http://www.vixlet.com/"

 - name: "codewars"
   source: "/img/companies/codewars.png"
   link: "http://www.codewars.com/"

 - name: "blackstone"
   source: "/img/logos/blp.png"
   link: "http://usc.thelaunchpad.org/"

 - name: "mayorsoffices"
   source: "/img/logos/mayorsoffice.png"
   link: "http://www.lamayor.org/"

 - name: "greif"
   source: "/img/schools/greif.png"
   link: "https://www.marshall.usc.edu/faculty/centers/greif"

members:
 - name: Calvin 
   source: "/img/members/calvin.jpg"

 - name: Adena
   source: "/img/members/adena.jpg"

 - name: Stephen
   source: "/img/members/stephen.jpg"

 - name: Michael
   source: "/img/members/michael.jpg"

 - name: Grant
   source: "/img/members/grant.jpg"

 - name: Matias
   source: "/img/members/matias.jpg"

 - name: Megan
   source: "/img/members/megan.jpg"

bottom_images:
 - "/img/events/scf/scf_2.jpg"
 - "/img/events/scf/scf_4.jpg"

press:
 - "LINKLINKLINKLINK"
 - "LINKLINKLINKLINK"
_content: false
---

extends ../views/_event
