---
name: "TechLA Internships"
width: 6
card_url: "/img/events/techla/techla_2.jpg"
cover_url: "/img/events/techla/techla_1.jpg"
logo_url: "/img/logos/techla_logo.png"
date: "All year round"
attendance: "2500 Students. 300 Companies. 1 Platform."
goal: "TechLA Internships is a platform managed Spark SC that allows students to  browse and apply to LA tech companies."
one_liner: "We host an internship platform that helps students find jobs with small companies in the Greater Los Angeles area."
description:
 - "TechLA is an online platform that showcases innovative tech companies in Los Angeles hiring for internship and full time positions in various fields. LA job seekers can create a profile with a resume, and apply to select companies by filtering through specific positions, LA regions, and/or company types." 
 - "With TechLA, Spark SC is trying to achieve more than just happy employees and employers. Our goal is to match companies whose initiatives contribute to Los Angeles as a growing center for innovation to individuals who are passionate about technology and its effect on the area. Currently, the TechLA platform has 2500 students and 300 companies!"
partners:
 - name: "upfront"
 - source: "/img/companies/upfront.png"
 - link: "http://upfront.com/"
 
members:
 - name: "Stephen"
   source: "/img/members/stephen.jpg"

 - name: "Calvin"
   source: "/img/members/calvin.jpg"

 - name: "Maddie" 
   source: "/img/members/maddie.jpg"

 - name: "Irfan"
   source: "/img/members/irfan.jpg"

 - name: "Brian"
   source: "/img/members/brian.jpg"

 - name: "Matias"
   source: "/img/members/matias.jpg"

bottom_images:
 - "/img/events/techla/techla_1.png"
 - "/img/events/techla/techla_3.png"

press:
 - "LINKLINKLINKLINK"
 - "LINKLINKLINKLINK"
_content: false
---

extends ../views/_event
